{
  "openapi": "3.0.3",
  "info": {
    "title": "Tailor Video Campaign Generation API",
    "version": "1.0.0",
    "description": "API endpoint to generate a video for a specific campaign. This endpoint queues a video render job and returns information about the created video."
  },
  "servers": [
    {
      "url": "https://api.tailor.video/api/v1"
    }
  ],
  "paths": {
    "/campaigns/{campaignId}/generate": {
      "post": {
        "summary": "Generate a video for a campaign",
        "operationId": "generateCampaignVideo",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique ID of the campaign to generate a video for."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fields"
                ],
                "properties": {
                  "fields": {
                    "type": "object",
                    "description": "Key-value pairs of template fields and their values.",
                    "additionalProperties": {
                      "description": "The value to assign to the field."
                    }
                  },
                  "thumbnail": {
                    "type": "number",
                    "description": "The time (in seconds) for the video thumbnail. Defaults to 1.5 if not provided.",
                    "example": 1.5
                  },
                  "callback_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL to receive a callback when the video is rendered.",
                    "example": "https://example.com/callback"
                  }
                }
              },
              "examples": {
                "Basic": {
                  "summary": "Basic Example",
                  "value": {
                    "fields": {
                      "firstName": "John",
                      "lastName": "Doe"
                    },
                    "thumbnail": 2.0,
                    "callback_url": "https://example.com/callback"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video generation job successfully queued.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "video_id": {
                      "type": "string",
                      "description": "The unique ID of the generated video.",
                      "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
                    },
                    "video_url": {
                      "type": "string",
                      "description": "The URL where the generated video will be available.",
                      "example": "https://video.tailor.video/12345/OUTPUTS/a1b2c3d4-e5f6-7890-1234-567890abcdef.mp4"
                    },
                    "estimated_credits": {
                      "type": "number",
                      "description": "The estimated credits required for rendering this video.",
                      "example": 0.2
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "summary": "Successful Response",
                    "value": {
                      "video_id": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
                      "video_url": "https://video.tailor.video/12345/OUTPUTS/a1b2c3d4-e5f6-7890-1234-567890abcdef.mp4",
                      "estimated_credits": 0.2
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Missing or invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "MissingFields": {
                    "summary": "Missing fields array",
                    "value": {
                      "message": "Invalid request body. Must include fields (array) and callback_url (string).",
                      "request_id": "123e4567-e89b-12d3-a456-426614174000"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "NotFound": {
                    "summary": "Campaign not found",
                    "value": {
                      "message": "Campaign not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "ServerError": {
                    "summary": "Internal error",
                    "value": {
                      "message": "An error occurred while processing your request"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{campaignId}/generate/realtime": {
      "post": {
        "summary": "Generate a video for a campaign (Realtime)",
        "operationId": "generateCampaignVideoRealtime",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique ID of the campaign to generate a video for."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fields"
                ],
                "properties": {
                  "fields": {
                    "type": "object",
                    "description": "Key-value pairs of template fields and their values.",
                    "additionalProperties": {
                      "description": "The value to assign to the field."
                    }
                  },
                  "thumbnail": {
                    "type": "number",
                    "description": "The time (in seconds) for the video thumbnail. Defaults to 1.5 if not provided.",
                    "example": 1.5
                  },
                  "callback_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL to receive a callback when the stream is available.",
                    "example": "https://example.com/callback"
                  }
                }
              },
              "examples": {
                "Basic": {
                  "summary": "Basic Example",
                  "value": {
                    "fields": {
                      "firstName": "John",
                      "lastName": "Doe"
                    },
                    "thumbnail": 2.0,
                    "callback_url": "https://example.com/callback"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video generation job successfully queued.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "stream_id": {
                      "type": "string",
                      "description": "The unique ID of the generated video.",
                      "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
                    },
                    "stream_url": {
                      "type": "string",
                      "description": "The URL where the generated video will be available.",
                      "example": "https://video.tailor.video/12345/OUTPUTS/a1b2c3d4-e5f6-7890-1234-567890abcdef/video.m3u8"
                    },
                    "estimated_credits": {
                      "type": "number",
                      "description": "The estimated credits required for rendering this video.",
                      "example": 2.0
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "summary": "Successful Response",
                    "value": {
                      "stream_id": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
                      "stream_url": "https://video.tailor.video/12345/OUTPUTS/a1b2c3d4-e5f6-7890-1234-567890abcdef.m3u8",
                      "estimated_credits": 2.0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Missing or invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "MissingFields": {
                    "summary": "Missing fields array",
                    "value": {
                      "message": "Invalid request body. Must include fields (array) and callback_url (string).",
                      "request_id": "123e4567-e89b-12d3-a456-426614174000"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "NotFound": {
                    "summary": "Campaign not found",
                    "value": {
                      "message": "Campaign not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "ServerError": {
                    "summary": "Internal error",
                    "value": {
                      "message": "An error occurred while processing your request"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{campaignId}/fields": {
      "get": {
        "summary": "Get campaign template fields",
        "operationId": "getCampaignFields",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique ID of the campaign."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of fields defined in the campaign's template.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type of the field (e.g., text, image, audio, video).",
                        "example": "text"
                      },
                      "fieldName": {
                        "type": "string",
                        "description": "The unique name identifier for the field.",
                        "example": "PROPERTY_STAR_RATING"
                      },
                      "default": {
                        "type": "string",
                        "description": "The default value for the field.",
                        "example": "3 Star"
                      },
                      "source": {
                        "type": "string",
                        "nullable": true,
                        "description": "The source location or type for media fields (e.g., url, assets folder).",
                        "example": "url"
                      },
                      "value": {
                        "type": "string",
                        "nullable": true,
                        "description": "The specific value or pattern for the field, potentially using variables.",
                        "example": "{{PROSPECT_NAME_FIRST}}.wav"
                      }
                    },
                    "required": [
                      "type",
                      "fieldName",
                      "default"
                    ]
                  }
                },
                "examples": {
                  "Success": {
                    "summary": "Successful Response",
                    "value": [
                      {
                        "type": "text",
                        "default": "3 Star",
                        "fieldName": "PROPERTY_STAR_RATING"
                      },
                      {
                        "type": "image",
                        "source": "url",
                        "default": "https://lib.csgpmarketplace.com/cdn/web-analytics/v1/assets/salesdeck/logo/ups.com.png",
                        "fieldName": "FORTUNE1K_LOGO_1"
                      },
                      {
                        "type": "audio",
                        "value": "{{PROSPECT_NAME_FIRST}}.wav",
                        "source": "assets/hi_names",
                        "default": "HiThere.wav",
                        "fieldName": "HI_NAME_AUDIO_CLIP"
                      },
                      {
                        "type": "video",
                        "value": "SCENE_11_{{PROPERTY_COUNTRY_CODE}}.mp4",
                        "source": "scene-clips",
                        "default": "SCENE_11_USA.mp4",
                        "fieldName": "SCENE_11"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "Campaign not found.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/campaigns": {
      "get": {
        "summary": "List all campaigns",
        "operationId": "listCampaigns",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A list of campaigns available to the user.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "campaignID": {
                        "type": "string",
                        "description": "The unique ID of the campaign.",
                        "example": "0346d324-71d"
                      },
                      "templateName": {
                        "type": "string",
                        "description": "The name of the template used by the campaign.",
                        "example": "AI Business Builder - Logo Version"
                      },
                      "templateID": {
                        "type": "string",
                        "description": "The unique ID of the template.",
                        "example": "643a3d34-9b8"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name of the campaign.",
                        "example": "Maestro_AI_Business_Builder"
                      },
                      "num_deliverables": {
                        "type": "integer",
                        "nullable": true,
                        "description": "The number of deliverables associated with the campaign.",
                        "example": 980
                      },
                      "company": {
                        "type": "string",
                        "nullable": true,
                        "description": "The company associated with the campaign.",
                        "example": "MTP"
                      },
                      "thumbnail": {
                        "type": "string",
                        "nullable": true,
                        "format": "uri",
                        "description": "URL of the campaign thumbnail.",
                        "example": "https://video.tailor.video/07164e4b-d5b/ASSETS/Thumbnail/07164e4b-d5b"
                      },
                      "workspaceID": {
                        "type": "string",
                        "nullable": true,
                        "description": "The ID of the workspace the campaign belongs to.",
                        "example": null
                      },
                      "workspaceName": {
                        "type": "string",
                        "nullable": true,
                        "description": "The name of the workspace the campaign belongs to.",
                        "example": null
                      },
                      "createEnabled": {
                        "type": "integer",
                        "description": "Indicates if creation is enabled (0 for false, 1 for true).",
                        "example": 0
                      }
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "summary": "Successful Response",
                    "value": [
                      {
                        "campaignID": "0346d324-71d",
                        "templateName": "AI Business Builder - Logo Version",
                        "templateID": "643a3d34-9b8",
                        "name": "Maestro_AI_Business_Builder",
                        "num_deliverables": null,
                        "company": "MTP",
                        "thumbnail": null,
                        "workspaceID": null,
                        "workspaceName": null,
                        "createEnabled": 0
                      },
                      {
                        "campaignID": "07164e4b-d5b",
                        "templateName": "pulse-card",
                        "templateID": "0ddcbf1c-475",
                        "name": "Demo Campaign",
                        "num_deliverables": 980,
                        "company": null,
                        "thumbnail": "https://video.tailor.video/07164e4b-d5b/ASSETS/Thumbnail/07164e4b-d5b",
                        "workspaceID": null,
                        "workspaceName": null,
                        "createEnabled": 0
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "An error occurred while retrieving campaigns"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key required in the Authorization header. Example: 'Authorization: {api key}'"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "A human-readable error message."
          },
          "request_id": {
            "type": "string",
            "description": "A unique identifier for the request, useful for debugging.",
            "nullable": true
          }
        },
        "required": [
          "message"
        ]
      }
    }
  }
}
